body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ff5cff85;
}
  
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 300px;
    width: 700px;
    background-color: #ffffff88;
    border: 30px solid rgb(150, 40, 150);
    border-radius: 30px;
}
  
.colors, .rectangles {
    display: flex;
    justify-content: center;
}
.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 25px;
    cursor: pointer;
    position: relative;
    transition: border 0.3s ease, box-shadow 0.3s ease;
}
  
.circle::after {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: opacity 0.3s ease;
    opacity: 0;
}
  
.circle.clicked {
    border: 2px solid #ffffff;
}
  
.circle.clicked::after {
    box-shadow: 0 0 0 3px;
    opacity: 0;
    transition: box-shadow 0.1s ease;
}
  
.color1 { background-color: rgba(31, 127, 102, 1); }
.color2 { background-color: rgba(255, 200, 0, 1); }
.color3 { background-color: rgba(255, 123, 0, 1); }
.color4 { background-color: rgba(216, 1, 1, 1); }
.color5 { background-color: rgba(223, 4, 70, 1); }
.color6 { background-color: rgba(127, 31, 85, 1); }
.color7 { background-color: rgba(93, 18, 199, 1); }
  
.rectangles {
    flex-wrap: wrap;
    margin: 20px 0;
}
  
.rectangle {
    width: 40px;
    height: 60px;
    margin: 5px;
    border: 3px solid rgb(193, 173, 193);
}
  
#pallet {
    align-items: center;
}
  
#cat {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 250px;
    max-height: 250px;
}